body {
    margin: 0;
    padding: 0;
    height: 200vh;
    background-color: #1f1f2e;
    font-family: sans-serif;
    font-size: 15px;
}
.container{
    max-width: 600px;
    margin:auto;
}
/* .menu{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 300;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
a:hover{
    color:#00cc99;
}
a:active{
    color:#009879;
} */

h1 {
    text-align: center;
    color: #00cc99;
}
.trash-img{
    width:inherit;
    display: flex;
    justify-content:center;
    justify-content:space-between;
    
}
.dustbin_status_table {
    display: flex;
    justify-content: center;
    min-width: 100%;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: inherit;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

/* 
.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
} */

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
    background-color: #f3f3f3;
}

@media (max-width:330) {
    .dustbin_status_table {
        min-width: 100%;
    }
}

@media (max-width: 768px) {
    .dustbin_status_table {
        min-width: 100%;
    }
}

@media (max-width: 1024px) {
    .dustbin_status_table {
        min-width: 100%;
    }
}

@media (max-width: 1440px) {
    .dustbin_status_table {
        min-width: 100%;
    }
}