body{
    /* margin: 0; */
    /* padding: 0; */
    /* height: 200vh; */
    /* font-family: sans-serif; */
    /* font-size: 15px; */
}
.container{
    max-width: 600px;
    margin:auto;
}
.bg-custom-color{
    background-color:#1f1f2e ;
}

.text-lightgreen{
    color: #00cc99;
    text-align: center;
}
.trash-img{
    width:inherit;
    display: flex;
    justify-content:center;
    justify-content:space-between;
    
}
.dustbin_status_table {
    display: flex;
    justify-content: center;
    min-width: 100%;
}

.content-table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9em;
    min-width: inherit;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    color:#009879;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
    background-color: #f3f3f3;
}
.labs{
    display: inline-block;
    width: 100px;
}

@media (max-width:330) {
    .dustbin_status_table {
        min-width: 100%;
    }
}

@media (max-width: 768px) {
    .dustbin_status_table {
        min-width: 100%;
    }
}

@media (max-width: 1024px) {
    .dustbin_status_table {
        min-width: 100%;
    }
}

@media (max-width: 1440px) {
    .dustbin_status_table {
        min-width: 100%;
    }
}